/* Universal selector to apply styles to all elements */
body {
/*  margin: 0;
    padding: 0;
    box-sizing: border-box;
     */
    font-family: "Roboto";
    font-style: normal;
    margin: 0 auto;
    max-width: 55%;
}


header {
    display:flex;
    background-color: #1F2937;
    color: white;
    padding: 10px 200px;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    flex-grow: 3;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
}

.header-item{
    flex-grow: 1;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 12px;
}

.box1 {
    display:flex;
    background-color: #1F2937;
    padding: 100px 200px;
    gap: 50px;
}
#box1-1{
    flex: 1;
    flex-direction: column;
    align-self: stretch;
}
#box1-2{
    align-self: center;
    background-color: #969797;
    flex: 1;
    align-self: stretch;
    display: grid;
    place-items: center;
    color: #E5E7EB;
}
#hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px;
}
#title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 5px;
}

.signup-box {
    background-color: #3382F6;
    border-radius: 5px;
    padding: 5px 24px;
    color: #f9faf8;
    font-weight: 700;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.box2 {
    text-align: center;
    padding: 40px 200px;
}

.box2-1 {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    gap: 48px;
}
.box2-image{
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    flex-shrink: 0; 
}
.image-box{
    border: 3px solid #3382F6;
    border-radius: 10px;
    height: 150px;
    width: 100%;
}
#title2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.image-subtext{
    color:#2c2c2c
}

.box3{
    background-color: #E5E7EB;
    padding: 40px 350px;
}
.box3-1{
    display: flex;
    flex-direction: column;

}
#quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    min-width: 0px;
    
}
#quote-author{
    align-self: flex-end;
}
.box4{
    padding: 70px 200px;
}
.box4-box{
    display: flex;
    color: #F9FAF8;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 100px;
    flex-wrap: wrap;

}
.text{
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    flex: 1 0 auto;
}

.text > *{
    margin: 1px;
}
.action{
    border: 2px solid #F9FAF8;
    flex: 0 0 auto;
    margin-right: 100px;
}

.footer{
    background-color: #1F2937;
    font-size: 15px;
    color:#969797;
    text-align: center;
    padding: 20px 0;
}